{% extends "common/layout.njk" %}

{% set pageTitle = 'Home' %}
{% set page = 'home' %}

{% block content %}
  <div class="defra-hero">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-xl">RPA Guidance AI Usecase PoC</h1>
      <p class="govuk-body-l">
        This is a collection of PoCs for the RPA internal guidance AI use case.
      </p>
    </div>
  </div>

  <div class="govuk-width-container">

  </div>
{% endblock %}
