{% extends "common/layout.njk" %}

{% set pageTitle = 'Upload your document' %}
{% set page = 'guidance-documents' %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <h1 class="govuk-heading-xl">Upload your document</h1>

      <p class="govuk-body">The file must be a <strong>.docx</strong> document.</p>

      <form
        action="{{ uploadUrl }}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="govuk-form-group">
          <label class="govuk-label" for="file">
            Upload a file
          </label>
          <input
            class="govuk-file-upload"
            id="file"
            name="file"
            type="file"
            accept=".docx,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
          >
        </div>

        <button class="govuk-button" data-module="govuk-button" type="submit">
          Upload document
        </button>
      </form>
    </main>
  </div>
{% endblock %}
